$colors: (
    primary: #ffff3d,
    accent: #008340,
    accentLighten: lighten(#008340, 50%)
);
#body{
    min-height: 100%;
}
#menu-div-list{
    margin: 15px;

}
#place-order-btn{
    margin: 15px 0 0 50%;
    background-color: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: accent);
    border-radius: 5px;
    // align-self: flex-end;
}
#menu-div{
    background-color: map-get($map: $colors, $key: accent);
}
#menu-div:hover{
    text-decoration: none;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    }

    input[type=checkbox] {
    display: none;
    }

    input[type=checkbox] + label:before {
    content: "\2714";
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background-color: map-get($map: $colors, $key: accent);
    }

    input[type=checkbox] + label:active:before {
    transform: scale(0);
    }

    input[type=checkbox]:checked + label:before {
    background-color: transparent;
    border-color: map-get($map: $colors, $key: accent);
    color: #fff; 
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 10px;
    }



.side, #place-order-btn{
    display: none;
}

li{
    
    input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    }

    input[type=checkbox] {
    display: none;
    }

    input[type=checkbox] + label:before {
    content: "\2714";
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    background-color: map-get($map: $colors, $key: primary);
    }

    input[type=checkbox] + label:active:before {
    transform: scale(0);
    }

    input[type=checkbox]:checked + label:before {
    background-color: map-get($map: $colors, $key: accent);
    border-color: map-get($map: $colors, $key: accent);
    color: #fff; 
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 10px;
    }

}
#menu-container{
    width: 100%;
    position: absolute;
    top: 35%;
    display: block;
    #menu-list{
        position: relative;
        width: 100%;
        // height: 65%;
        display: block;
        margin: 0;
        // overflow-y: auto;
        ul {
            background-color: map-get($map: $colors, $key: accent);
            margin: 0;
            li{
            background-color: map-get($map: $colors, $key: accent);
            list-style: none;
            display: block;
            color: beige;
            }
            li:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

  
#footer {
    position: absolute;
    height: 50px;
    font-size: small;
    bottom: 0;
    // display: block;
    width: 100%;
    background-color: #008340;
    // margin-top: 15px;
    font-family: 'ZCOOL XiaoWei', serif;
    color: beige;
    font-weight: bold;
    text-transform: uppercase;
  }

  #user{
    width: 100%;
    margin: 0 0 15px 0;
    height:150px;
  }
//   .user{
//       margin-bottom: 10px;
      
//   }
